{{ includeTemplate "configs/zsh/exports/base.zsh.tmpl" . }}
{{ includeTemplate "configs/zsh/paths/base.zsh.tmpl" . }}
{{ includeTemplate "configs/zsh/aliases/base.zsh.tmpl" . }}
{{ includeTemplate "configs/zsh/functions/base.zsh.tmpl" . }}
{{ includeTemplate "configs/zsh/prompts/starship.zsh.tmpl" . }}
