alias ll='ls -lah'
alias la='ls -A'
alias l='ls -CF'

alias gs='git status --short'
alias ga='git add'
alias gc='git commit'
alias gp='git push'
alias gl='git log --oneline --decorate --graph --all'

alias ..='cd ..'
alias ...='cd ../..'

if command -v eza >/dev/null 2>&1; then
  alias ls='eza --group-directories-first'
  alias ll='eza -lah --group-directories-first --git'
fi

if command -v bat >/dev/null 2>&1; then
  alias cat='bat --paging=never'
fi
