path_prepend "$HOME/.local/bin"
path_prepend "$HOME/bin"

if [ -d /opt/homebrew/bin ]; then
  path_prepend /opt/homebrew/bin
fi

if [ -d "$HOME/.cargo/bin" ]; then
  path_prepend "$HOME/.cargo/bin"
fi

export PATH
